* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

 body {
  font-family: "Space Grotesk", serif;
  position : relative;
  background-image : url(img/bgbrow.jpg);
  background-size : cover;
  background-position : center;
  background-attachment : fixed;
  /* background-color : rgba(0, 0, 0, 0.8); */
}

section {
  display : grid;
  place-items : center;
  min-height : 100vh;
  width : 100%;
}

section main {
  padding : 100px 10px;
  display : flex;
  flex-direction : column;
  gap : 10px;
  width : 100%;
  max-width : 600px;
  justify-content : center;
  align-items : center;
}

section main img {
  width : 100px;
  border-radius : 60%;
  aspect-rasio : 1;
  box-shadow: 0 0 5px 1px yellow;
}

section main h2{
  font-weight : 600;
  color : yellow;
  text-shadow : 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section main a {
  display : flex;
  width : 100%;
  align-items : center;
  justify-content : center;
  border : 1.5px solid white;
  padding : 20px;
  color : yellow;
  text-decoration : none;
  border-radius : 5px;
  border-color : yellow;
  gap : 20px;
  transition : 0.3s;
}

section main a:hover {
  background-color : yellow;
  color : black;
  border-color : black;
}

section main a i {
  font-size : 25px;
}

section footer p {
  color : yellow;
  font-size : 0.7em;
  padding : 20px;
  text-shadow : 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.8);
}

section footer p a {
  color : yellow;
  font-weight : 600;
  text-decoration : none;
}
